.navbar {
  padding: 0.5rem 1rem;
}

.input-group-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-control:focus {
  box-shadow: none;
}

.nav-link {
  padding: 0 0.75rem;
}

.nav-link img {
  width: 32px;
  height: 32px;
}
.profile{
  align-items: center;
  display: flex;
    gap: 20px;
    margin-right: 10px;
}
.form-control::placeholder {
  color: white !important;
  opacity: 1; /* Override default opacity */
}