/* .main {
  display: flex;
  flex: 1;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }
} */

/* App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.main {
  display: flex;
  flex: 1;
  min-height: 100vh;
}

@media (max-width: 768px) {
  .main {
    flex-direction: column;
  }

  .sidebar {
    display: none; /* Optionally hide sidebar on smaller screens */
  }

  .dashboard {
    width: 100%;
  }
}

